# Working with tuples

In [1]:
# Unlike lists, tuple values cannot be changed

# Tuples are typically used for heterogeneous (different) data

# Tuples have advantages over lists
# 1. iterating is faster than with lists
# 2. Can be used as keys for a dictionary
# 3. Guarantees write protection for data that doesn't need to change

In [2]:
# Create tuples
tup1 = ('physics', 'chemistry', 1997, 2000)
print(tup1)
type(tup1)

('physics', 'chemistry', 1997, 2000)

tuple

In [3]:
tup2 = (1, 2, 3, 4, 5 )
print(tup2)
type(tup2)

(1, 2, 3, 4, 5)

tuple

In [4]:
tup3 = "a", "b", "c", "d"
print(tup3)
type(tup3)

('a', 'b', 'c', 'd')

tuple

In [5]:
# Create with tuple() Constructor
tpl = tuple(("apple", "banana", "cherry")) 
print(tpl)
type(tpl)

('apple', 'banana', 'cherry')

tuple

In [6]:
# Empty tuple
tup1 = ()
print(tup1)
print(type(tup1))

()
<class 'tuple'>

In [7]:
# Tuple with only 1 value
tup1 = (50,)
print(tup1)
type(tup1)

(50,)

tuple

In [8]:
# If commma is not entered above then an Integer is instantiated instead
tup1 = (50)
print(tup1)
type(tup1)

50

int

In [9]:
# Creating nested tuples
tuple1 = (0, 1, 2, 3) 
tuple2 = ('python', 'geek') 
tuple3 = (tuple1, tuple2) 
print(tuple3)

((0, 1, 2, 3), ('python', 'geek'))

In [10]:
# Accessing first item
tup1 = ('physics', 'chemistry', 1997, 2000)
tup1[0]

'physics'

In [11]:
# Accessing last item
tup1 = ('physics', 'chemistry', 1997, 2000)
tup1[-1]

2000

In [12]:
# Slicing
tup2 = (1, 2, 3, 4, 5, 6, 7 )
tup2[1:5]

(2, 3, 4, 5)

In [13]:
# Slicing nested tuple
n_tpl = ("mouse", [8, 4, 6], (1, 2, 3))
print(n_tpl[0][3])       # 's'
print(n_tpl[1][1])       # 4

s
4

In [14]:
# Since item assignment is not allowed, we can create a new tuple from existing tuples
tup1 = (12, 34.56)
tup2 = ('abc', 'xyz')
tup3 = tup1 + tup2
tup3

(12, 34.56, 'abc', 'xyz')

In [15]:
# We can also convert the tuple to a list, change the value, and then convert back to a tuple
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

In [16]:
# if an element of a tuple is mutable, like a list, then it can be changed (common on nested tuples)
tpl = (4, 2, 3, [6, 5])
tpl[3][0] = 9
tpl

(4, 2, 3, [9, 5])

In [17]:
# Since deleting individual tuple elements is not allowed, we can create another tuple with the 
# undesired elements discarded
tup1 = (12, 34.56)
tup2 = ('abc', 'xyz')
tup3 = (tup1[0],)  # desired portions need to be sliced and assigned as tuples
tup4 = (tup2[0],)  # desired portions need to be sliced and assigned as tuples

In [18]:
tup5 = tup3 + tup4
print(tup5)
type(tup5)

(12, 'abc')

tuple

In [19]:
# Delete a tuple
tup = ('physics', 'chemistry', 1997, 2000)
print(tup)
del tup
print(tup)

('physics', 'chemistry', 1997, 2000)

NameError: name 'tup' is not defined

In [20]:
# Length of tuple
tup = ('physics', 'chemistry', 1997, 2000)
len(tup)

4

In [21]:
# Concatenation
tup1 = (12, 34.56)
tup2 = (12, 34.56)
tup3 = tup1 + tup2
tup3

(12, 34.56, 12, 34.56)

In [22]:
# Repetition
tup1 = ('Hi!',)
tup1 * 4

('Hi!', 'Hi!', 'Hi!', 'Hi!')

In [23]:
# Check if item is in a tuple
tup1 = (1, 2, 3)
3 in tup1

True

In [24]:
# interation
tup1 = (1, 2, 3)
for x in tup1:
    print(x)

1
2
3

In [25]:
# Any sets of multiple comma-separated objets written without brackets, parentheses,, etc default to tuples
x = 'abc', -4.24e93, 18+6.6j, 'xyz'
type(x)

tuple

In [26]:
# Tuple packimg
tpl = 3, 4.6, "dog"
tpl

(3, 4.6, 'dog')

In [27]:
# Tuple unpacking
a, b, c = tpl
print(a)      # 3
print(b)      # 4.6 
print(c)      # dog

3
4.6
dog

In [28]:
# Min and Max value
tup1 = (12, 34.56)
print(min(tup1))
print(max(tup1))

tup = ('physics', 'chemistry')
print(min(tup))
print(max(tup))

12
34.56
chemistry
physics

In [29]:
# Number of items of specific value
tpl = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
print(tpl.count(5))

2

In [30]:
# Searches for first occurrence of value
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
print(tpl.index(8))

3